.row{
  display: flex; 
  justify-content:center;
}
.main{
  display: flex; 
  background-color: aquamarineaqua;
}
.card{
  margin: 1rem; 
  display:flex; 
  justify-content:center;
}

@media screen and (max-width:500px) {
  .main{
    display: block;
  }
  }
