/* @media (max-width: 768px) {
    div.container {
      flex-direction: column;
    }
    
    div.container > div.row {
      flex-wrap: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  
    div.container > div.row > div {
      flex: 0 0 auto;
    }
    
    div.container > div.row > div:not(:last-child) {
      margin-right: 1rem;
    }
  }
   */